# Choose provider
LLM_PROVIDER=your_llm_provider   # "ollama" or "openai"

# Ollama
OLLAMA_BASE_URL=your_ollama_base_here
OLLAMA_MODEL=your_ollama_model
OLLAMA_API_KEY=your_ollama_api_key

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=your_openai_model

# Web Searches
TAVILY_API_KEY=your_tvly_api_key_here