# Choose provider
LLM_PROVIDER=your_llm_provider   # "ollama" or "openai"

# Number of steps agent is able to take before being forced to stop
MAX_STEPS=30

# Ollama
OLLAMA_BASE_URL=your_ollama_base_here
OLLAMA_MODEL=your_ollama_model
OLLAMA_API_KEY=your_ollama_api_key

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=your_openai_model

# Web Searches
TAVILY_API_KEY=your_tvly_api_key_here

# Embeddings
EMBEDDING_PROVIDER=your_embedding_provider
EMBEDDING_MODEL=your_embedding_model
EMBEDDING_BASE_URL=your_embedding_base_url
EMBEDDING_API_KEY=your_embedding_api_key
EMBEDDING_TIMEOUT=60

MEMORY_STORE_PROVIDER=your_memory_store_provider
MEMORY_DB_DIR=your_memory_db_path
MEMORY_COLLECTION=your_memory_collection
MEMORY_TOP_K=your_top_k
MEMORY_SIMILARITY_THRESHOLD=your_similarity_threshold

# Requests
LLM_REQUEST_TIMEOUT=your_request_timeout
LLM_MAX_RETRIES=your_max_retries
LLM_RETRY_BACKOFF_SECONDS=your_max_retry_backoff_in_seconds